.filter-panel {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Make the background white */
    margin-top: 20px;  /* Add margin on top */
  }
  
  .doctor-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;  /* Add some space above the button */
  }
  
  button:hover {
    background-color: #2980b9;
  }
  